{{#token}}
{{/token}}
<html>
<head>
    
    <link href="/css/estilo.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    
    {{>_fonts}}
    {{>_navbar}}
    <div id="adicionar">
        <h6>Cadastros Diversos</h6>
        <button class="btn btn-secondary"><a href="/funcionario" style="text-decoration:none">
        <font color="white">Adicionar Funcionário</font></a>  <i class="tiny material-icons">personadd</i>
        </button>
        <button class="btn btn-secondary"><a href="/cliente" style="text-decoration:none">
        <font color="white">Adicionar cliente</font></a>  <i class="tiny material-icons">personadd</i>
        </button>
        <button class="btn btn-secondary"><a href="/produto" style="text-decoration:none">
            <font color="white">Adicionar Produto</font></a> <i class="tiny material-icons">add</i>
        </button><br><br>
    </div>
    <div id="visualizar">
        <h6>Visualizar</h6>
        <button class="btn btn-secondary"><a href="/cliente/listar" style="text-decoration:none">
            <font color="white">Listar Clientes</font></a> <i class="tiny material-icons">portrait</i>
        </button>
        <button class="btn btn-secondary"><a href="/funcionario/listar" style="text-decoration:none">
            <font color="white">Listar Funcionarios</font></a> <i class="tiny material-icons">person</i>
        </button>
        <button class="btn btn-secondary"><a href="/produto/listar" style="text-decoration:none">
            <font color="white">Listar Produtos</font></a> <i class="tiny material-icons">personal_video</i></button>
        <br><br>
    </div>
    <button id="bt" class="btn btn-secondary"><a href="/os" style="text-decoration:none">
            <font color="white">Criar nova Ordem de Serviço</font></a> <i class="tiny material-icons">assignment</i>
        </button>
    <div id="ordem" class="card col-sm-11 p-3 mb-2 bg-light text-dark">      
        <table class="table table-dark table-hover">
            <thead class="thead thead-secondary"> 
                <tr>
                    <th>Código</th>
                    <th>Cliente</th>
                    <th>Produto</th>
                    <th>Observação</th>
                    <th>Status</th>
                    <th>Data de Cadastro</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each os}}
                {{#dataValues}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{cliente}}</td>
                    <td>{{produto}}</td>
                    <td>{{obs}}</td>
                    <td>{{status}}</td> 
                    <td>Dia: {{#formatDate createdAt}}{{/formatDate}}</td>
                    <td>
                        <a href="javascript: if(confirm('Tem certeza que deseja Excluir?')) 
                            location.href='/os/deletar/{{id}}'">                           
                            <button class="btn btn-danger"><i class="medium material-icons" style="font-size: 1.2em">close</i>Excluir</button>
                        </a> 
                        <td>
                        <!--a href="javascript: if(confirm('Clique em OK para Confirmar')) 
                            location.href='/os/update/{{dataValues.id}}'">                           
                            <button class="btn btn-danger"><i class="medium material-icons" style="font-size: 1.2em">close</i>Concluído</button>
                        </a!-->            
                        <a href="/os/detalhes/{{id}}">
                            <button class="btn btn-info">Ver Detalhes</button>
                        </a>
                    </td>
                    {{/dataValues}}
                    {{/each}}
                </tr>  
            </tbody>
        </table>
    </section>
</body>
</html>

  
   
