<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arsenal&display=swap" rel="stylesheet">
</head>
<body>
{{>_fonts}}
{{>_navbar}}
<br><div class="alert alert-info col-sm-12"><b>Resultado: {{result}} Registros</b></div>
<table class="table table-dark table-hover">
    <thead> 
        <tr>
            <th style="font-family: 'Arsenal'">Cliente</th>
            <th style="font-family: 'Arsenal'">Produto</th>
            <th style="font-family: 'Arsenal'">Data de Cadastro</th>
            <th style="font-family: 'Arsenal'">Observação</th>
            <th style="font-family: 'Arsenal'">Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each os}}
        <tr>
            <td>{{cliente}}</td>
            <td>{{produto}}</td>
            <td>{{horaCadastro}}</td>
            <td>{{obs}}</td>
            <td>{{status}}</td> 
        {{/each}}
        </tr>            
    </tbody>
</table>
</body>