<head>
    <style>
        div#total_os{
            position: absolute;
            top:110px;
            left:20px;
        }
        div#clients{
            position: absolute;
            top:219px;
            left:20px;
        }
        div#status{
            position: absolute;
            top:110px;
            left:411px;
        }
        div#prod{
            position: absolute;
            top:340px;
            left:20px;
        }
        div#despesa{
            position: absolute;
            top:110px;
            left:646px;
        }
        div#func{
            position: absolute;
            top: 340px;
            left: 520px;
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    {{>_fonts}}
    {{>_navbar}}
    <center><h1 style="color:#708090">Dashboard</h1></center>
    <div class="card" id="total_os" style="width: 27rem; height:8rem">
        <div class="card-body">
            <form action="/os/gerencial">
                <p style="font-size: 17px;">Total acumulado de Ordens de serviço: 
                    <b>{{osCount}} Ordem de Serviço</b>
                </p> 
                <i class="small material-icons">assignment</i>  
            </form>
        </div>
    </div>
    <div class="card" id="clients" style="width: 27rem; height:8rem">
        <div class="card-body">
             <form action="/os/gerencial">
                <p style="font-size: 20px;">Total de Clientes: 
                    <b>{{cliCount}} Cliente(s)</b>
                </p> 
                <i class="small material-icons">person</i></h6>
            </form>
        </div>
    </div>
    <div class="card" id="status" style="width: 16rem; height:15rem">
        <div class="card-body">
             <form action="/os/gerencial">
                <p>Ordens de Serviço ainda em andamento</p>
            </form>
            <center><p class="card-text" style="font-size: 35px">{{osStatus}}</p>
                <button class="btn btn-warning">
                    <a class="btn waves-effect waves-light red lighten-2" href="javascript: if(confirm('Tem certeza que deseja Concluir Todas as Ordens de Serviço?')) 
                        location.href='/os/concluir/all'">Concluir TODAS ?
                    </a>
                </button>
            </center>
        </div>
    </div>
    <div class="card" id="prod" style="width: 35rem; height:20rem">
        <div class="card-body">
             <form action="/os/gerencial">
                <center><p><b>Produtos mais frequentes nas solicitações</b></p></center>
            </form>
            <p class="card-text" style="font-size: 50px">
                <ul>
                {{#each prod}}
                    <li><h6>Produto: {{produto}} | Frequencia: {{count}} vez(es)</h6></li>
                {{/each}}
                </ul>
            </p>
        </div>
    </div>
    <div class="card" id="despesa" style="width: 26rem; height:15rem">
        <div class="card-body">
             <form action="/os/gerencial">
                <center><p><b>Valor Agregado de Despesas</b></p></center>
            </form>
            <p class="card-text" style="font-size: 50px">
               {{#despesa}}
                <ul>
                    <li><h6>Valor Total Disponibilizado: R$ {{dataValues.soma1}}</h6></li>
                    <li><h6>Valor Total gasto em despesas R$ {{dataValues.soma2}}</h6></li>
                </ul>
                {{/despesa}}
            </p>
            <center><p><b>Balanço:</b></p></center>
            {{#resumoDespesa}}
            <ul>
                <li><h6>Saldo Final: R$ {{dataValues.saldo}}</h6></li>
            </ul>
            {{/resumoDespesa}}
        </div>
    </div>
        <div class="card" id="func" style="width: 35rem; height:20rem">
        <div class="card-body">
             <form action="/os/gerencial">
                <center><p><b>Funcionarios que mais executaram Ordens de Serviço</b></p></center>
            </form>
            <p class="card-text" style="font-size: 50px">
                <ul>
                {{#each func}}
                    <li><h6>Funcionario: {{funcionario}} | Frequencia: {{count}} vez(es)</h6></li>
                {{/each}}
                </ul>
            </p>
        </div>
    </div>
</body>